<%= provide(:title, @user.name) %>
<div class="jennasue">
  <h4 class="browntext">Carla Aumann and Chris Stewart cordially invite</h4>
  <h2 class="greentext"><b><%= @user.name %></b></h2>
  <h4 class="browntext">A party of  <%= pluralize(@user.guests.count, "guest") %></h4>
</div>
<div>
<p>
Kindly RSVP by checking the appropriate boxes below.  If you'll be joining us, please also indicate if you'll also be attending the <%= link_to "Sunday brunch", details_path %>, if you need the bus from <%= link_to "Quality Inn Tabcorp", accomodation_path %> in Melton, and if you have any dietary requirements that we should be aware of.</br>
</p>
    <%= form_for @user do |f| %>
      <table class="table">
          <tr>
            <th class="span3">Guest</th>
            <th class="span2">Wedding</th>
            <th class="span2">Brunch</th>
            <th class="span2">Bus</th>
            <th class="span3">Dietary restrictions</th>
          </tr>
          <%= f.fields_for :guests do |builder| %>
          <tr>
            <td><%= builder.text_field :name, placeholder: "Guest name" %></td>
            <td>
              <%= builder.select(:wedding, [['', nil],['Count me in!', true], ['Sadly, no', false]], {}, class: "dropdownform") %>
            </td>
            <td>
              <%= builder.select(:brunch, [['', nil],['Yes please!', true], ['No thanks', false]], {}, class: "dropdownform") %>
            </td>
            <td>
              <%= builder.select(:bus, [['', nil],['Yes please!', true], ['No thanks', false]], {}, class: "dropdownform") %>
            </td>
            <td><%= builder.text_field :diet, placeholder: "Dietary fussiness" %></td>
            
          </tr>
        <% end %>
      </table>
      <%= f.submit "RSVP or update", class: "btn btn-large btn-primary"  %>
    <% end %>
  </div>
</div>
 <p>Check out the <%= link_to "fine print", details_path %>, or update your <%= link_to "account settings", edit_user_path(current_user) %>.</p>
</div>

