<% provide(:title, @user.name) %>
<div class="jennasue">
  <h4>Carla Aumann and Chris Stewart cordially invite</h4>
  <h2 style="color:#125624"><b><%= @user.name %></b></h2>
  <h4>A party of <%= pluralize(@user.guests.count, "guest") %></h4>
</div>
<div>
<p>
Kindly RSVP by checking the appropriate boxes below.  If you'll be joining us, please also indicate if you'll also be attending the <%= link_to "Sunday brunch", details_path %>, if you need the bus from <%= link_to "Quality Inn Tabcorp", accomodation_path %> in Melton, and if you have any dietary requirements that we should be aware of.</br>
</p>
    <%= form_for @user do |f| %>
      <table class="table">
          <tr>
            <td class="span3">Guest</td>
            <td class="span2">Wedding</td>
            <td class="span2">Brunch</td>
            <td class="span2">Bus</td>
            <td class="span3">Dietary restrictions</td>
          </tr>
          <%= f.fields_for :guests do |builder| %>
          <tr>
            <td><%= builder.text_field :name, placeholder: "Guest name" %></td>
            <td>
              <%= builder.radio_button :wedding, "true" %> Woohoo! I'm there!</br>
              <%= builder.radio_button :wedding, "false" %> I'm a bad friend
            </td>
            <td>
              <%= builder.radio_button :brunch, "true" %> Yes please!</br>
              <%= builder.radio_button :brunch, "false" %> No thanks
            </td>
            <td>
              <%= builder.radio_button :bus, "true" %> Yes please!</br>
              <%= builder.radio_button :bus, "false" %> No thanks
            </td>
            <td><%= builder.text_field :diet, placeholder: "Dietary fussiness" %></td>
          </tr>
        <% end %>
      </table>
      <%= f.submit "update", class: "btn btn-large btn-primary"  %>
    <% end %>
  </div>
</div>
 <p>Check out the <%= link_to "fine print", details_path %>, or update your <%= link_to "account settings", edit_user_path(current_user) %>.</p>
</div>

