<tr class="content" id="<%= feed_item.id %>">
  <%= form_for(feed_item) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
            <td><%= f.text_field :name, placeholder: "Guest name" %></td>
            <td>
              <%= f.select(:wedding, [['', nil],['Count me in!', true], ['Sadly, no', false]], {}, class: "dropdownform") %>
            </td>
            <td>
              <%= f.select(:brunch, [['', nil],['Yes please!', true], ['No thanks', false]], {}, class: "dropdownform") %>
            </td>
            <td>
              <%= f.select(:bus, [['', nil],['Yes please!', true], ['No thanks', false]], {}, class: "dropdownform") %>
            </td>
            <td><%= f.text_field :diet, placeholder: "Dietary fussiness" %></td>
            
          
      <td><%= f.submit "Update", class: "btn btn-large btn-primary"  %></td>
    <td><% if current_user?(feed_item.user) %>
    <%= link_to "delete", feed_item, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: feed_item.name %>
    <% end %></td>

  <% end %>
</tr>