<%= form_for(@guest) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
	<tr>
      <td><%= f.text_field :name, placeholder: "Name an additional guest" %></td>
	  <td><%= f.submit "Add", class: "btn btn-large btn-primary"  %></td>
	  <td><% if current_user?(@guest.user) %>
	    <%= link_to "delete", @guest, method: :delete,
	                                     data: { confirm: "You sure?" },
	                                     title: @guest.name %>
	  <% end %></td>
	</tr>

	  <% end %>

  </div>
