<header class="navbar navbar-fixed-top navbar-inverse" class="green">
  <div class="navbar-inner green">
    <div class="container">
      <%= link_to "Carla & Chris 2014", root_path, :id => "logo" %>
      <nav>
        <ul class="nav pull-right">
 		  <li><%= link_to "Home", root_path %></li>
		  <% if signed_in? %>
			<li><%= link_to "RSVP", current_user %></li>
			<li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               Details <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Wedding details", details_path %></li>
                <li><%= link_to "Attire", attire_path %></li>
                <li><%= link_to "Gifts", registry_path %></li>
                <li><%= link_to "Getting there", directions_path %></li>
				        <li><%= link_to "Accommodation", accomodation_path %></li>
              </ul>
            </li>  
      

			<li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Administration <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Guest List", guests_path %></li>
                <li><%= link_to "User Account List", users_path %></li>
                <li><%= link_to "Add guest", newguest_path %></li>
			  </ul>
		    </li>
      
			<li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
				<li><%= link_to "RSVP", current_user %></li>
                <li><%= link_to "Edit settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
              </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
		 

        </ul>
      </nav>
    </div>
  </div>
</header>



